<?xml version="1.0" encoding="euc-kr"?>
<XML>
	<SERVER>
		<IP>192.168.0.31</IP>
		<PORT>6000</PORT>
	</SERVER>

	<SKIN>Default</SKIN>

	<VIDEO>
		<WIDTH>800</WIDTH>
		<HEIGHT>600</HEIGHT>
		<COLORBITS>16</COLORBITS>
		<GAMMA>255</GAMMA>
		<FULLSCREEN>TRUE</FULLSCREEN>
		<REFLECTION>TRUE</REFLECTION>
 		<LIGHTMAP>TRUE</LIGHTMAP>
 		<DYNAMICLIGHT>TRUE</DYNAMICLIGHT>
 		<SHADER>TRUE</SHADER>
		<CHARACTORTEXTURELEVEL>1</CHARACTORTEXTURELEVEL>
		<MAPTEXTURELEVEL>1</MAPTEXTURELEVEL>
	</VIDEO>

	<AUDIO>
		<BGM_VOLUME>0.3</BGM_VOLUME>
		<EFFECT_VOLUME>1.0</EFFECT_VOLUME>
	</AUDIO>

	<MOUSE>
		<SENSITIVITY>0.4</SENSITIVITY>
		<INVERT>FALSE</INVERT>
	</MOUSE>

	<KEYBOARD>
		<FORWARD>17</FORWARD>
		<BACK>31</BACK>
		<LEFT>30</LEFT>
		<RIGHT>32</RIGHT>
		<MELEEWEAPON>2</MELEEWEAPON>
		<PRIMARYWEAPON>3</PRIMARYWEAPON>
		<SECONDARYWEAPON>4</SECONDARYWEAPON>
		<ITEM1>5</ITEM1>
		<ITEM2>6</ITEM2>
		<PREVOUSWEAPON>16</PREVOUSWEAPON>
		<NEXTWEAPON>18</NEXTWEAPON>
		<RELOAD>19</RELOAD>
		<SCORE>15</SCORE>
		<TAUNT>41</TAUNT>
		<MENU>1</MENU>
	</KEYBOARD>


	<BINDS>
	</BINDS>
</XML>
